# Database
DATABASE_URL=postgresql://USER:PASSWORD@HOST:PORT/DATABASE

# NextAuth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=change_me_secret

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Payment Providers
PAYSTACK_SECRET_KEY=
FLW_SECRET_KEY=

# Frontend/Backend URLs
FRONTEND_URL=http://localhost:3000
BACKEND_URL=http://localhost:4000
